# dotenv
.env.dev

# virtualenv
/basecamp_app/venv/

# django sqlite db
/basecamp_app/db.sqlite3

# Covers JetBrains IDEs
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/
